/PROGRAMACAO DE COMPUTADORES E DISPOSITIVOS MOVEIS/MODULO 03/JAVA/Semana 02/projetos/nomeesobrenome/NomeESobrenome/nbproject/private/
/PROGRAMACAO DE COMPUTADORES E DISPOSITIVOS MOVEIS/MODULO 03/JAVA/Semana 02/projetos/nomeesobrenome/NomeESobrenome/build/
/PROGRAMACAO DE COMPUTADORES E DISPOSITIVOS MOVEIS/MODULO 03/JAVA/Semana 02/projetos/nomeesobrenome/NomeESobrenome/dist/
/PROGRAMACAO DE COMPUTADORES E DISPOSITIVOS MOVEIS/MODULO 03/JAVA/Semana 07/cliente-java/nbproject/private/
/PROGRAMACAO DE COMPUTADORES E DISPOSITIVOS MOVEIS/MODULO 03/JAVA/Semana 07/cliente-java/build/